body {
    background-color:rgb(2, 87,173);
    color: rgb(251, 165, 30);
    padding: 20px;
    font-size: 16px;
    border: 2.5px solid red;
    outline-style: insight;
    margin: 4px;
  }
  
  p {
    outline-style: outsight;
    width: 800px;
    border: 5px solid rgb(16, 2, 29);
    padding: 25px;
    margin: 5px;
  }

