<html>
<head>
  <meta charset="UTF-8">
  <script src="script.js"></script>
  <!-- <link rel="stylesheet" type="text/css" href="styles.css"> -->
<!--Test comment to see if 'git push'works-->
</head>
<body>
<h1>Classification</h1>
<form id="classificationMenu" method="GET" action="./">

  <table>
    <tbody>
    <tr>

      <app-school-year-dd></app-school-year-dd>
      <app-gender-dd></app-gender-dd>
      <app-sport-dd></app-sport-dd>
      <app-class-size-dd></app-class-size-dd>

      <td>
      <strong style="font-size:20px;"># of Sectionals:</strong><br>
        <input type="text" id="groupText" name="groupText"><br>
      </td>
   
      <td>
        <strong style="font-size:45px;width:150px"><button>Enter</button></strong><br>
      </td>

      <td>
        <strong style="font-size:45px;width:150px"><button>Tournament Generator</button></strong>
      </td>

    </tr>
    </tbody>
  </table>
  
  <input type="hidden" name="type" value="high">

  <a href="https://www.ihsaa.org/">
    <img alt="IHSAA Logo" src="https://www.ihsaa.org/Portals/_default/skins/indhsaa/images/indhsaa.png">
    </a>

</form>

</body>

<footer>
<app-sectional-boxes></app-sectional-boxes>
</footer>

</html>
